/*---------------------------------------------------------------------------------*/
.clear-sky {
  background: url("../img/clear-sky.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .clear-sky h2 {
    color: #f29f04; }

.few-clouds {
  background: url("../img/few-clouds.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.broken-cloud {
  background: url("../img/broken-clouds.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.scattered-clouds {
  background: url("../img/scattered-clouds.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.rain {
  background: url("../img/rain.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .rain h1, .rain h3, .rain h2, .rain button, .rain .btn {
    color: #54b3d8; }

.thunderstorm {
  background: url("../img/thunderstorm.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.snow {
  background: url("../img/snow.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.mist {
  background: url("../img/mist.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/*---------------------------------------------------------------------------------*/
body, html {
  margin: 0;
  padding: 0; }

div, h1, h2, img {
  /*border:0.1px dashed orange;*/ }

h1, h2, h3, button, .btn {
  text-align: center;
  font-family: 'Kurale', serif;
  color: #ffffff; }

.btn {
  background-color: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 0;
  text-decoration: none;
  border: 1px solid transparent; }

.btn:active {
  /* create feeling of clickable button*/
  box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.75);
  position: relative;
  top: 1px; }

.btn:focus {
  /* remove blue outline in chrome after click*/
  outline: 0; }

.btn:hover {
  /* remove blue outline in chrome after click*/
  outline: 0;
  border: 1px solid #3cc3b5; }

.container {
  text-align: center;
  min-width: 400px;
  /*background:red;*/ }
  .container .wrap {
    padding: 20px;
    margin: 50px auto;
    min-width: 400px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px; }
    .container .wrap .wrap-top #location {
      font-size: 50px; }
    .container .wrap .wrap-top #tempa {
      font-size: 100px;
      display: inline-block;
      vertical-align: middle; }
    .container .wrap .wrap-top .btn {
      display: inline-block;
      vertical-align: top;
      font-size: 40px;
      width: 60px;
      border-radius: 5px;
      background-color: rgba(192, 192, 192, 0.3); }
    .container .wrap .wrap-bot {
      margin-top: -50px;
      text-align: right; }
      .container .wrap .wrap-bot #weather-icon {
        display: inline-block;
        vertical-align: middle; }
        .container .wrap .wrap-bot #weather-icon img {
          display: inline-block; }
      .container .wrap .wrap-bot #weather {
        display: inline-block;
        vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
